/* Basic */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}


/* header */
header {
    width: 100%;
    border-bottom: 1px solid #ddd;
}

header .inner {
    width: 1180px;
    height: 70px;
    margin: 0px auto;
    position: relative;
}

header .inner h1 {
    position: absolute;
    left: 0px;
    bottom: 10px;
}

header .inner h1 a {
    font: bold 24px/1 "arial";
    color: #444;
}

header .inner #gnb {
    position: absolute;
    bottom: 8px;
    right: 0px;
}

header .inner #gnb li {
    float: left;
}

header .inner #gnb li a {
    font: bold 15px/1 "arial";
    color: #555;
    padding: 11px 40px;
    transition: all 0.5s;
}

header .inner #gnb li a:hover {
    background-color: #555;
    color: #fff;
}

/* section */

section {
    width: 100%;
    padding: 0px;
}

section .table {
    width: 1050px;
    height: 70px;
    margin: 0px auto;
    position: relative;
    table-layout: fixed;
}

section .table thead tr {
    text-align: center;
}

section .table thead tr th {
    letter-spacing: 7px;
}

section .table td {
    background-color: white;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

